.field_error {
	color: #f00;
}
.required_star {
	color: #f00;
	font-size: 10pt;
}
.help_text {
	font-size: 10pt;
}
td {
  vertical-align: top;
}
#field_error_back {
	background: #fcc;
}
fieldset {
   border: none;
}